// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.logo-img {
    width:100%;
    height:100%;
}
.grid-img {
    width:90px;
    height:90px;
}
