
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*font-family: $font-family-sans-serif;*/
    -webkit-font-smoothing: subpixel-antialiased;
}

.pc-html {
    background-color: transparent;
    overflow: hidden;
}

/* The body section defines the whole size of the postcard and some basic properties. */
.pc-body {
    width: 6.25in;
    height: 4.25in;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* The card section defines positioning and the overall background of the postcard. */
#card {
    position: absolute;
    left: 0;
    top: 80px;
    right: 0;
    bottom: 0;
    background-color: white;
    background-image: url('https://cdn2.vectorstock.com/i/1000x1000/01/91/postcard-template-paper-white-texture-vector-25340191.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* The safe area defines where your content — especially text — should be contained. Note: You can let your content extend beyond this — i.e. images — but know that some of it may get cut off in the bleed. Modifying this section is not recommended.*/
#safe-area {
    position: fixed;
    left: 0.1875in;
    right: 0.1875in;
    top: 0.1875in;
    bottom: 0.1875in;
    word-wrap: break-word;
}
